.endCont {
  display: flex;
  justify-content: space-between;
}
.endHeader {
  display: flex;
  justify-content: space-between;
}
.endHeader h2 {
  font-size: 24px;
  width: 40%;
  margin: 0 0 64px 0;
}
