@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
nav .navLeft {
  display: flex;
}
nav .navLeft .logo {
  height: 44px;
  margin-top: 8px;
}
nav .navRight {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
}
nav .navLeft .companyName {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 15px 10px 10px 10px;
}
nav div.container {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}
nav.light {
  background-color: white;
}
a.navLink {
  text-decoration: none;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px 0px 22px 40px;
  display: inline-block;
}
nav {
  width: 100%;
}
.black {
  color: black;
}
.white {
  color: white;
}

nav.sticky {
  position: fixed;
  z-index: 200;
  left: 0px;
  top: -63px;
  justify-content: space-between;
  display: flex;
  width: 100%;
  max-width: none;
  transition: top 0.3s ease, background-color 0.3s ease;
}
nav.sticky.display {
  top: 0;
  /* box-shadow: 0 0 10px 0 #0000001a; */
}
nav.sticky .container {
  width: 1160px;
  padding: 0;
}
nav.dark {
  background-color: #17151d;
}
.activator,
.navFooter {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navFooter {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
  }
  nav .navRight {
    padding-top: 80px;
    background-color: #002dff;
    display: none;
  }
  nav div.container {
    padding: 0;
  }
  nav .logo {
    margin-left: 20px;
  }
  nav .navLeft.active {
    display: none;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  nav .navRight.active {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: default;
    width: 100vw;
    height: 100vh;
    color: white;
  }
  nav .navRight.active a {
    padding: 0;
    margin: 0 40px 20px;
    font-size: 50px;
    color: white;
  }
  .activator {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }
  body.menuActive {
    overflow: hidden;
  }
  .navFooter h3 {
    font-family: "PT Mono", serif;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 40px;
  }
  nav .navRight.active .navFooter a {
    font-size: 16px;
    text-decoration: none;
    padding: 8px 0 0 0;
    margin: 0 40px;
  }
}
