.introImage {
  position: relative;
}
.introImage img {
  width: 100%;
  /* margin: 45px 0; */
  animation: blurIn 0.5s ease 1;
}
.introImage .blueButton {
  position: absolute;
  right: 45px;
  top: -32px;
  animation: dropIn 0.5s ease 1;
  z-index: 100;
  font-size: 15px;
}
@keyframes dropIn {
  0% {
    top: 20px;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes blurIn {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}
