.App {
  text-align: Left;
  padding: 0 20px;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}
.App .section {
  padding: 100px 0;
  max-width: 1160px;
  margin: 0 auto;
}
.App .largeSection {
  width: 1260px;
  margin: 0 auto;
}
.App.dark {
  background-color: #17151d;
  color: white;
}
