.slide {
  text-align: left;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  position: relative;
  transition: left 0.5s ease 0.25s;
  /* flex-wrap: wrap; */
}

.slide h2 {
  margin-top: 0;
}
.slide .left {
  max-width: 560px;
  margin: auto 0;
}
.slide img {
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
  transition: right 0.5s ease, top 0.5s ease;
}
.slide.active img.shift {
  right: -20px;
  top: -20px;
}
