a.blueButton {
  font-family: "PT Mono", monospace;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  line-height: 24px;
  font-size: 24px;
  padding: 18px 30px;
  align-items: center;
  background-color: #002dff;
  text-decoration: none;
  transition: opacity 0.3s 0s, top 0.8s 0s;
}
a.blueButton span.buttonLeft {
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
a.blueButton span.buttonRight {
  display: inline-block;
  padding: 10px 10px 10px 20px;
}
